body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Poppins', 'Rajdhani', sans-serif;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    background: linear-gradient(to bottom, #183D5B 0%, #040D1F 100%);
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.exclusive-container {
    background: #1e2126;
    width: 90%;
    max-width: 800px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: #e0e0e0;
    z-index: 10;
    position: relative;
    margin: 50px auto;
}

.exclusive-title {
    font-family: 'Rajdhani', sans-serif;
    font-size: 3.5rem;
    color: #00FFFF;
    margin-bottom: 30px;
    text-shadow: 0 0 5px rgba(0, 255, 255, 0.5);
}

.section-title {
    color: #93a8c0;
    font-size: 1.5rem;
    margin-bottom: 40px;
}

.timeline {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
    position: relative;
    overflow: hidden;
}

.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 3px;
    height: 100%;
    background: #333940;
}

.timeline-item {
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 20px;
    overflow: hidden;
}

.timeline-item i {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #00FFFF;
    font-size: 1.5rem;
    background: #1e2126;
    border-radius: 50%;
    padding: 5px;
    z-index: 15;
}

.timeline-content {
    background: #282c34;
    padding: 20px;
    border-radius: 8px;
    width: 45%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.timeline-item:nth-child(odd) .timeline-content {
    float: left;
    margin-right: 20px;
}

.timeline-item:nth-child(even) .timeline-content {
    float: right;
    margin-left: 20px;
}

.timeline-content h3 {
    color: #00FFFF;
    margin-top: 0;
    border-bottom: 1px solid #444;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.btn-logout {
    display: inline-block;
    background: #8A2BE2;
    color: #FFFFFF !important;
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 40px;
    text-decoration: none;
    transition: background 0.3s ease;
}
.btn-logout:hover {
    background: #7B1FA2;
    color: #b31818 !important;
    box-shadow: 0 0 15px #8A2BE2;
}

.btn-logout i {
    color: #FFFFFF !important;
    margin-right: 5px; /* Para separar o ícone do texto, se necessário */
}