
body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(120deg, #dcdde1, #e0e0e0, #e8cfd3);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.login-container {
  background: white;
  width: 350px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.logo {
  font-size: 36px;
  font-weight: 700;
  color: #e30613;
}

.logo span {
  color: #001f3f;
  display: block;
  font-size: 24px;
}

.input-box {
  margin: 15px 0;
  text-align: left;
}

.input-box input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.button {
  background: #27ae60;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.button:hover {
  background: #219150;
}

.small-link {
  margin-top: 10px;
  font-size: 13px;
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
}

.small-link:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}
.input-box label {
  display: block; /* Garante que o label ocupe sua própria linha */
  margin-bottom: 5px; /* Adiciona um pequeno espaço abaixo do label */
  font-size: 14px;
  font-weight: 500;
  color: #333;
}