html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #0a0a23;
    font-family: Arial, sans-serif;
    color: #ffffff;
}


.menu-lateral {
    background-color: #111827;
    padding: 30px;
    border-radius: 8px;
    width: 280px;  /* maior largura */
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.menu-lateral a {
    color: #fff;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 8px;
    background-color: #1f2937;
    transition: background-color 0.2s ease;
}

.menu-lateral a:hover {
    background-color: #374151;
}

/* Estilo para o form de login */
.form-login {
    background-color: #1e1e2f;
    padding: 30px;
    border-radius: 8px;
    width: 320px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.form-login h1 {
    margin-bottom: 20px;
}

.form-login label {
    display: block;
    margin-bottom: 8px;
}

.form-login input[type="text"],
.form-login input[type="password"] {
    width: 100%;
    padding: 8px 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.form-login button {
    width: 100%;
    padding: 10px;
    background-color: #3b82f6;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.form-login button:hover {
    background-color: #2563eb;
}

.login {
    background-color: #1e1e2f;
    padding: 30px;
    border-radius: 8px;
    width: 320px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.login label {
    display: block;
    margin-bottom: 8px;
}

.login input[type="text"],
.login input[type="password"] {
    width: 100%;
    padding: 8px 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.login button {
    width: 100%;
    padding: 10px;
    background-color: #3b82f6;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.login button:hover {
    background-color: #2563eb;
}

/*styles de cadastro*/
.cadastro {
    background-color: #1e1e2f;
    padding: 30px;
    border-radius: 8px;
    width: 320px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.cadastro h1,
.cadastro h2 {
    margin-bottom: 20px;
}

.cadastro label {
    display: block;
    margin-bottom: 8px;
}

.cadastro input[type="text"],
.cadastro input[type="password"],
.cadastro input,
.cadastro select,
.cadastro textarea {
    width: 100%;
    padding: 8px 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    outline: none;
    box-sizing: border-box;
}

.cadastro button {
    width: 100%;
    padding: 10px;
    background-color: #3b82f6;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.cadastro button:hover {
    background-color: #2563eb;
}
